In [3]:
import boto3
import tweepy as tw
import pandas as pd

# set up api and search info

In [2]:
my_api_key = "fill in api key"
my_api_secret = "fill in api secret"

auth = tw.OAuthHandler(my_api_key, my_api_secret)
api = tw.API(auth, wait_on_rate_limit=True)

In [33]:
search_query = "#fill in topic keyword#-filter:retweets"
key = "#topic#"
index = 0
n = 100000

In [4]:
def get_tweets(search_query, n):
    i = 1
    tweets_df = pd.DataFrame()
    tweets = tw.Cursor(api.search,
              q=search_query,
              lang="en",
              since="2019-01-01").items(n)
    
    for tweet in tweets:
        hashtags = []
        print("#", i)
        try:
            for hashtag in tweet.entities["hashtags"]:
                hashtags.append(hashtag["text"])
            text = api.get_status(id=tweet.id, tweet_mode='extended').full_text
        except:
            pass
        tweets_df = tweets_df.append(pd.DataFrame({'user_name': tweet.user.name, 
                                                   'screen_name': tweet.user.screen_name,
                                                   'id': tweet.user.id_str,
                                                   'user_location': tweet.user.location,\
                                                   'user_description': tweet.user.description,
                                                   'user_verified': tweet.user.verified,
                                                   'followers': tweet.user.followers_count,
                                                   'date': tweet.created_at,
                                                   'text': text, 
                                                   'hashtags': [hashtags if hashtags else None],
                                                   'source': tweet.source,
                                                   'likes': tweet.favorite_count,
                                                   'retweet': tweet.retweet_count}))
        i += 1
    tweets_df = tweets_df.reset_index(drop=True)
    
    return tweets_df

# run individual searches and save to file

In [ ]:
df = get_tweets(search_query, n)

In [35]:
df.to_csv(f'{key}_{index}.csv', header=True, index=True)

# check a dafaframe file

In [6]:
df0 = pd.read_csv("tax_0.csv")

In [7]:
df0.head()

,Unnamed: 0,user_name,screen_name,id,user_location,user_description,user_verified,followers,date,text,hashtags,source,likes,retweet
0,0,James Buss,James_Buss,949751696,NaN,The number of followers and a profile picture ...,False,19,2023-04-23 19:59:27,@LizGrac54485089 @Right_On_tario @liberal_part...,NaN,Twitter Web App,0,0
1,1,Sean,Sean00990,2940169393,NaN,Some sort of shape.,False,277,2023-04-23 19:59:23,@markdfabela The city - using tax dollars from...,NaN,Twitter for Android,0,0
2,2,chris jones,chrisjo07354740,1467863867179118596,NaN,"Married , Dad of 2 , just like to get on with ...",False,133,2023-04-23 19:59:22,@lady8642 That wasn't paid by Tax payers money...,NaN,Twitter for Android,0,0
3,3,Joe Grondona,JoeGrondona,776114183582527492,NaN,NaN,False,1,2023-04-23 19:59:22,@EvanBjornson @evasavagiou @elonmusk How much ...,NaN,Twitter for Android,0,0
4,4,Dzana & Manfred Gellert,GellertManfred,717010607480901632,NaN,NaN,False,245,2023-04-23 19:59:18,@kylenabecker Not fighting wars means not bein...,NaN,Twitter Web App,0,0